/***********************************************************************************
    Grid Views
************************************************************************************/

.grid {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.problems .grid {
    -fx-hgap: 4px;
    -fx-vgap: 4px;
}

.grid .button  {
    -fx-alignment: bottom-right;
}
.grid .button .text {
    -fx-text-alignment: right;
}

/***********************************************************************************
    Home buttons
*************************************************************************************/

.home .button {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: #fff;
}

.home .button.man-vs-machine {
    -fx-background-image: url( 'home/man-vs-machine.png' );
}
.home .button.challenge-match {
    -fx-background-image: url( 'home/challenge-match.png' );
}
.home .button.two-player {
    -fx-background-image: url( 'home/two-player.png' );
}
.home .button.joseki {
    -fx-background-image: url( 'home/joseki.png' );
}
.home .button.problems {
    -fx-background-image: url( 'home/problems.png' );
}
.home .button.open-file {
    -fx-background-image: url( 'home/open-file.png' );
}
.home .button.preferences {
    -fx-background-image: url( 'home/preferences.png' );
}

.home .button .text {
    -fx-text-alignment: right;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-stroke-width: 1;
    -fx-stroke: #000;
}

/***********************************************************************************
    Prompted Tasks
************************************************************************************/

.prompt {
    -fx-padding: 20px;
}

/***********************************************************************************
************************************************************************************/

.board-container {
    -fx-padding: 20px;
}

.wood {
    -fx-border-color: #666;
    -fx-border-width: 1px;
    -fx-background-color: #F5CC7A;
}

.board-marks {
}

/***********************************************************************************
    Marks
    See : https://www.w3schools.com/charsets/ref_utf_geometric.asp
    Note. The styles .white .black and .none are the colors of the stone on which
    the mark is placed. So a style of .white will draw the mark in black!
    While this may be confusing at first, it does allow style .none to include a
    background color the same as the wood color.
*************************************************************************************/

.marks > .mark {
    -fx-font-size: 100px;
    -fx-padding: 0 0.25em 0.25em 0.25em;
}
.marks > .black {
    -fx-text-fill: #fff;
}
.marks > .red {
    -fx-text-fill: #f00;
}
/* Column and row markings around the playing area */
.marks > .coordinate {
    -fx-font-size: 55px;
}
/* Highlights the point on the board  the mouse is hovering over*/
.marks > .place-stone {
    -fx-symbol: "●";
}
.marks > .place-stone.black {
    -fx-text-fill : #eee;
}
.marks > .place-mark {
    -fx-symbol: "◌";
    -fx-background-color: none; /* Never use the wood color background */
}
.marks > .remove-mark,
.marks > .remove-stone {
    -fx-symbol: "⛔";
    -fx-font-size: 80px;
    -fx-text-fill: #e11;
    -fx-background-color: none; /* Never use the wood color background */
}
.marks > .latest {
    -fx-symbol: "✩";
}
.marks > .main-line {
    -fx-symbol: "◈";
}
.marks > .alternate {
    -fx-symbol: "◇";
}

.marks > .latest.black {
    -fx-text-fill: #ccc;
}
.marks > .square {
    -fx-symbol: "□";
}
.marks > .circle {
    -fx-symbol: "○";
}
.marks > .triangle {
    -fx-padding: 0 0 0.4em 0;
    -fx-symbol: "△";
}
.marks > .cross {
    -fx-symbol: "✕";
}

.marks > .label-mark {
    -fx-padding: 0;
    -fx-font-size: 70px;
}

.marks > .influence {
    -fx-symbol: "●";
}
.marks > .territory {
    -fx-symbol: "●";
    -fx-opacity: 0.5;
}
.marks > .dead {
    -fx-symbol: "✕";
    -fx-padding: 0;
}
.marks > .question {
    -fx-symbol: "?";
}
.marks > .none {
    -fx-background-color: #F5CC7A;
    -fx-background-insets: 30px 20px 30px 20px;
}
.marks > .label-mark.none,
.marks > .remove-mark.none,
.marks > .remove-stone.none {
    -fx-background-insets: 0px;
}

.dimmed {
    -fx-opacity: 0.5;
}

/***********************************************************************************
    Problem Views
*************************************************************************************/

.problem-results {
    -fx-padding: 6px;
}

.problem-result > .toggle-button {
    -fx-opacity: 0.5;
}

.problem-result > .toggle-button:selected {
    -fx-opacity: 1.0;
}

.problem-set .button {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.problem-set .button.solved {
    -fx-background-image: url( 'buttons/problem-solved.png' )
}
.problem-set .button.failed {
    -fx-background-image: url( 'buttons/problem-failed.png' )
}
.problem-set .button.uncertain {
    -fx-background-image: url( 'buttons/problem-uncertain.png' )
}

/***********************************************************************************
   Views (CommentsView, GameInfoView)
*************************************************************************************/

.comments {
    -fx-padding: 0 6px 0 6px;
}

.comments > .label {
    -fx-padding: 6px 0 0 0;
}

.game-info {
    -fx-padding: 6px;
    -fx-spacing: 6px;
}

.heading {
    -fx-font-size: 140%;
    -fx-padding: 12px 0 0 0;
}

.message {
    -fx-padding: 30px 0 0 0;
    -fx-font-size: 120%;
}

.passed {
    -fx-font-size: 120%;
}

.annotations {
    -fx-alignment: center;
    -fx-padding: 6px 0 6px 0;
}

.annotations > .toggle-button {
    -fx-opacity: 0.3;
}
.annotations > .toggle-button:selected {
    -fx-opacity: 1.0;
}

/* Three state : .button, .button.selected and .button.selected.very */
.annotations > .button {
    -fx-opacity: 0.3;
}
.annotations > .button.selected {
    -fx-opacity: 0.7;
}
.annotations > .button.very {
    -fx-opacity: 1.0;
}

/* When .selected or .selected.very, make it look like a depressed toggle button (adaptedfrom moderna.css) */
.annotations > .button.selected {
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
        linear-gradient(to bottom,
            derive(-fx-color, -22%) 0%,
            derive(-fx-color, -13%) 20%,
            derive(-fx-color, -11%) 50%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
}
.annotations > .button.selected:focused {
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(to bottom,
            derive(-fx-color, -22%) 0%,
            derive(-fx-color, -13%) 20%,
            derive(-fx-color, -11%) 50%),
        -fx-faint-focus-color,
        linear-gradient(to bottom,
            derive(-fx-color, -22%) 0%,
            derive(-fx-color, -13%) 20%,
            derive(-fx-color, -11%) 50%);
    -fx-background-insets: -0.2, 1, -1.4, 2.6;
    -fx-background-radius: 3, 2, 4, 0;
}

.modes > .toggle-button {
    -fx-font-size: 18px;
    -fx-padding: 0px;
}

/***********************************************************************************

*************************************************************************************/
